/* ===============================
   TFRAC Homepage css
   =============================== */

/* -------------------------
   Colour choices
   ------------------------- */

:root {
  /* Primary */
  --primary-fire: #dd1212;
  --primary-eerie-black: #202020;
  --primary-white-smoke: #f5f5f5;

  /* Secondary */
  --secondary-cadet-grey: #9db4c0;
  --secondary-light-blue: #c2dfe3;

  /* Tertiary (web only) */
  --tertiary-moss-green: #9da580;

  /* Layout */
  --container-width: 1120px;
}

/* -------------------------
   remove browser defaults
   ------------------------- */

/*create predictable layout*/
* {
  box-sizing: border-box;
}

/*FONTS*/
body {
  margin: 0;
  font-family:
    "Neue Haas Grotesk",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif;
  color: var(--primary-eerie-black);
  background: #ffffff;
}

/*making images behave lie blocks*/
img {
  display: block;
  max-width: 100%;
}

/*links styled like normal buttons*/
a {
  color: inherit;
  text-decoration: none;
}

/* --------------------------
   Layout helper - containers
   --------------------------*/

/*container will never be wider than 1120px will shrink to fit mpbile*/
.container {
  width: min(100% - 2rem, var(--container-width));
  margin-left: auto;
  margin-right: auto;
}

/* =================================================
   navigation - red outlined pill links
   ================================================= */

.nav { display: flex; 
    gap: 4px; /* display in row with spec spacing */ 
    justify-self: center; } 
    
    /*pill shape for nav*/ 
    .nav__link { 
        height: 37px; 
        padding-left: 14px; 
        padding-right: 14px; 
        display: inline-flex; 
        align-items: center; 
        justify-content: center; 
        font-size: 15px; 
        font-weight: 600; 
        color: var(--primary-fire); 
        background: transparent; 
        border: 1px solid var(--primary-fire); 
        border-radius: 999px; }

